<html>
    <body>
        <h3>Spine example prediction</h3>
        <p>You may:</p>
        <ul>
            <li>
                <p>Upload a CSV containing subjects data below:</p>
                <form action="/spine" method="POST" enctype="multipart/form-data">
                    Arquivo de dados (CSV): <input type="file" name="input"/> <input type="submit" value="Enviar arquivo"/>
                </form>
            </li>
            <li>
                <p>Upload your file using a client like curl:</p>
                <div  style="background-color: black; width: 60%; padding: 5px; color: white; margin: 2px;">
                    <i># curl -s -F "input=@spine_unknown.csv" "http://localhost:8080/spine"</i>
                </div>
            </li>
            <li>
                <p>Submit your data POSTing a JSON payload:</p>
                <div style="background-color: black; width: 60%; padding: 5px; color: white; margin: 2px;">
                    <i># curl -s -X POST -H "Content-type: application/json" "http://localhost:8080/spine" -d '     <br>
                        {                                                                                           <br>
                            "subj01" : [80.11157156,33.94243223,85.10160773,46.16913933,125.5936237,100.2921068,0.088561249,11.6503,16.1451,9.6995,4.44648,36.0749
],    <br>
                            "subj02" : [38.04655072,8.30166942,26.23683004,29.7448813,123.8034132,3.885773488,0.933377696,14.7528,11.1235,11.05746,5.412408,38.2581
]     <br>
                        }'                                                                                          <br>
                    </i>
                </div>
            </li>
        </ul>
        <a href="/">home</a>
    </body>
</html>